@import url(./normalize.css);
@import url(./reset.css);

/* 기본스타일 */
* , *::before, *::after{
  box-sizing: border-box;

}
/* 본문 스타일 */
body {
  background-color: rosybrown;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {
  width: 940px;
  margin: 0 auto;

}
/* 헤더 */
.header {
  background-color:skyblue;
  padding: 0 30px;
  height: 15vh;
}
/* 비주얼 */
.visual {
  background-color:navajowhite;
  height: 10vh;
}
/* 메인 */
.main {
  background-color:peru;
  height: 50vh;
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
}

.group1 {
  background-color: blueviolet;
  /* width: 250px; */
}

.group2 {
  background-color: seagreen;
  /* width: 380px; */
}

.group3 {
  background-color: skyblue;
  /* width: 190px;   */
}

/* 슬로건 */
.slogan {
  background-color:forestgreen;
  height: 10vh;
}
/* 푸터 */
.footer {
  background-color:lightseagreen;
}
.footer-inner {
  height: 15vh;
  background-color: gainsboro;

}