@import url(./normalize.css);
@import url(./reset.css);
@import url(./fontello.css);

/* 기본스타일 */
*
*::before
*::after {
  box-sizing: border-box; 
}
/* 앞으로 쓸 가상선택자 모두에 박스사이징 적용 */
/* 가상요소에선 box-sizing: border-box 를 상속하지 못하므로 따로 선언해야함 */
/* color:red -> 상속 가능 */
/* box-sizing: border-box -> 상속 불가능 */ 
/* * {box-sizing: border-box;} 이렇게 하면 안됌 */ 


/* 본문 스타일 */
body {
  background-color: rosybrown;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {
  width: 940px;
  margin: 0 auto;

}
/* 헤더 */
.header {
  background-color:#fff;
  padding: 0 30px;
  height: 15vh;
  border-radius: 0 0 15px 15px;
}

.member {
  background-color: pink;
  display: flex;
  flex-grow: row nowrap; 
  /* row 방향으로 flex를 사용하면 공백문자 무시됨 */
  justify-content: flex-end;
}

/* 겹침 Cascading */
/* 우선순위 규칙 */
/* li (Type Selector) 1점 */
/* .first (Class Selector)  10점*/
/* #item (Id Selector)  100점*/

/* .member li::before {
  content: ":" ;
} */

/* .member .first::before {
  content: "";
} */
/* .member li:nth-child(2)::before {
  content: "";
} */
/* !important -> 내가 먼저 우선으로 할거임 */
/* ::before / ::before => first child */
/* :after / ::after => last child */

/* .member li:nth-child(n+2)::before {
  content: ":";
  background-color: skyblue;
} */

.member li::before {
  /* content: '\e800';
  font-family: "fontello"; */
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
}

/* 비주얼 */
.visual {
  background-color:navajowhite;
  height: 10vh;
}
/* 메인 */
.main {
  background-color:WhiteSmoke;
  /* height: 50vh; */ 
  min-height: 450px; 
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
}

.group1 {
  background-color: blueviolet;
  width: 250px;
  
}

.group2 {
  background-color: seagreen;
  width: 380px;
  
}

.group3 {
  background-color: skyblue;
  width: 190px;
  /* flex-grow: 1; */
  /* flex-grow 나머지 영역을 차지 */
    
  
}

/* 슬로건 */
.slogan {
  background-color:forestgreen;
  height: 10vh;
}
/* 푸터 */
.footer {
  background-color:lightseagreen;
}
.footer-inner {
  height: 15vh;
  background-color: gainsboro;

}